//Whole page
article.page {
    float: left;
    width: 100%;
}

@media (min-width: 64em) {
    .page {
        padding-right: 300px !important;
    }
}

// Page title
.page__title {
    font-size: 32px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.125;
    word-wrap: break-word;
}

.header-meta {
    padding-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    color: #57606a;
    border-bottom: 1px solid #d0d7de;
    margin-bottom: 10px;
}

.header-meta .ico-ext {
    display: none;
}

// Page footer
.page__footer {
    background-color:transparent;
}

// Top Navbar
.greedy-nav a {
    color: #6f777d !important;
}

//Navbar
nav.toc {
    padding: 8px 16px;
    border-color: #d0d7de;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.toc .header-link {
    display: none;
}

.toc__menu a {
    color: #0969da;
    text-decoration: none;
}
.toc__menu a:hover {
    text-decoration: underline;
}
.toc__menu a:visited {
    color: #0969da;
}

.toc {
    color: #24292f;
}

.sidebar__right {
    width: 300px;
}

@media (min-width: 64em) {
    .sidebar__right {
        width: 300px;
        margin-right: -300px;
    }
}

// Actual content
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    color: #24292f;
    word-wrap: break-word;
}

a {
    color: #0969da;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0969da;
}

b, strong {
    font-weight: 600;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.markdown-body li+li {
    margin-top: .25em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
