---
# Based on https://github.com/mmistakes/minimal-mistakes/blob/master/_layouts/single.html
layout: default_wiki
---

<div id="main" role="main">
  <header>
    {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}

    <div class="header-meta">
      {% if page.last_modified_at %}Last edited on {{ page.last_modified_at | date: '%d %B %Y' }} • {% endif %}<a href="{{ site.github.repository_url }}/commits/dev/{{ page.relative_path }}">View revision history</a> • <a href="{{ site.github.repository_url }}/edit/dev/{{ page.path }}">Edit on GitHub</a>
    </div>
  </header>
  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="page__inner-wrap">
      <section class="page__content e-content markdown-body" itemprop="text">
          <aside class="sidebar__right">
            <nav class="toc">
              <div class="toc__menu">
                {% capture sidebar_include %}{% include_cached wiki_sidebar.md %}{% endcapture %}
                {{ sidebar_include | markdownify }}
              </div>
            </nav>
          </aside>

        {{ content }}

        <div style="border-color: #d0d7de;border-style: solid;border-width: 1px;border-radius: 6px;box-shadow: 0 1px 0 rgba(27,31,36,0.04) !important;background-color: #f6f8fa !important;padding: 8px 16px;margin-bottom: 20px;margin-top: 15px;">
          <p style="font-size: 13px;margin-bottom: 0px !important;">
            <b>© {{ site.time | date: '%Y' }} libGDX</b> • This wiki is a community effort. If you find information out of date or want to add some more in-depth explanations, you are very welcome to do the necessary changes. Before contributing, please take a look at our <a href="/wiki/wiki-style-guide">Wiki Style Guide</a>.
            <br/>
            <br/>
            <b>If you need additional help, check out our community on <a href="https://libgdx.com/community/discord/">Discord</a>!</b>
          </p>
        </div>
      </section>
    </div>

  </article>
</div>
